body {
    font-family: "Cinzel", cursive;
}
h1, h3 {
    font-family: "Cinzel Decorative", cursive;
    color: #5c156e;
}

#nav {
    list-style-type: none;
    max-width: 1300px;
    text-align: end;
    background-color: #5c156e;
    justify-content: space-around;
  }

#nav li { display: inline; }
#nav a {
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  font-weight: 700;
  width: 100px;
}
#nav a:hover {
  background-color: #a05dad;
}

*, html, body {
  box-sizing: border-box;
  padding: 3px;
}


.anim {
  white-space: nowrap;
  overflow: hidden;    
  font-size: 50px;
  font-family: Dancing Script;
  color: #5c156e;
}

.anim {
  animation: animated-text 7s ease-out;
  animation-iteration-count: infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 1000px;}
}


.column {
  float: left;
  width: 25%;
  padding: 0 1px;
}

.row {
  margin: 0 -5px;   
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
  

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #eea3c6;
  color: #5c156e;
}

@media (max-width: 360px) {
  .column, row{
    max-width: 100%;
    display: block;
  }

}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  justify-content: space-around;
}
