body {
    font-family: "Cinzel", cursive;
}
h1, h2 {
    font-family: "Cinzel Decorative", cursive;
}

#navbar {
    list-style-type: none;
    width: 1320px;
    text-align: end;
    background-color: #7e077e;
  }

  #navbar li { display: inline; }
  #navbar a {
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: 700;
    align-items: center;
    width: 100px;
  }
  #navbar a:hover {
    background-color: #b15bb1;
  }

  *, html, body {
    box-sizing: border-box;
    padding: 3px;
  }
  
  
  svg {
    position: absolute;
    font: 10em Shrikhand;
    letter-spacing: 0.1em;
    width: 100%;
    height: 100%;
  }
  
  svg text {
    fill: #b9407d;
    stroke: #7e077e;
    fill-opacity: 1;
    stroke-width: 0;
    stroke-dasharray: 100% 0;
    animation: stroke-offset 3s ease-out;
  }
  
  @keyframes stroke-offset {
    0% {
      fill-opacity: 0;
      stroke-width: 0;
      stroke-dasharray: 0% 100%;
    }
    25% {
      stroke-width: 3px;
    }
    50% {
      fill-opacity: 0;
    }
    75% {
      stroke-width: 3px;
    }
    100% {
      stroke-width: 0;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .row {
    margin: 0 -5px;   
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #7e077e;
    color: white;
  }
